@model IEnumerable<AppFerreteria.Models.Return>

@{
    ViewData["Title"] = "Index";
}

<body class="FondoReturn">
   
<h1 class="TituloIndex">Devoluciones</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Crear Alquiler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ClienteApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteName)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CodigoAlfanumericoMotosierra)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Motosierra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.ClienteApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteName)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteApellido)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CodigoAlfanumericoMotosierra)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Motosierra.CodigoAlfanumericoMotosierra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnID" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnID" class="btn btn-warning">Detalle</a> 
                @* <a asp-action="Delete" asp-route-id="@item.ReturnID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

</body>