@model IEnumerable<AppFerreteria.Models.Rental>

@{
    ViewData["Title"] = "Index";
}

<body class="FondoRentals">
   

   <h1 class="TituloIndex">Alquiler</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Alquiler</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
             @* <th>
                @Html.DisplayNameFor(model => model.ClienteApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoAlfanumericoMotosierra)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motosierra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
             @* <td>
                @Html.DisplayFor(modelItem => item.ClienteApellido)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.ClienteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoAlfanumericoMotosierra)
            </td> *@
              <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteApellido)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Motosierra.CodigoAlfanumericoMotosierra)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.RentalID">Editar</a> | *@
                <a asp-action="Details" asp-route-id="@item.RentalID" class="btn btn-warning">Detalle</a> 
                @* <a asp-action="Delete" asp-route-id="@item.RentalID">Eliminar</a> *@
            </td>
        </tr>
}
    </tbody>
</table>

</body>